.faq_wrap {
  margin: 2em 0;
  padding: 0;
}

.faq_wrap label {
  display: block;
  padding : 8px;
  color: #fff;
  font-weight: bold;
  background: #999;
  cursor: pointer;
}

.faq_wrap label:before {
  content: '▼ ';
}

.faq_wrap input:checked+label:before {
  content: '▲ ';
}

.faq_wrap input[type="checkbox"] {
  display: none;
}

.faq_wrap .faq_content {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.faq_wrap input:checked+label+.faq_content {
  height: auto;
  padding: 8px;
}

 .faq_wrap p:before {
	content: "A. ";
	font-weight: bold;
  margin-left: 37px;
  color: green;
}

.faq_wrap p {
  margin-left: 37px;
  text-indent: -57px;
}

.faq_wrap li {
  margin-left: 30px;
}



/* ▼タブ(共通装飾＋非選択状態の装飾) */
.tab {
  display: inline-block;          /* インラインブロック化 */
  padding: 0.75em 1em;            /* 内側の余白量 */
  background-color: #f0f0f0;      /* タブの(非選択状態の)背景色：灰色 */
}

/* ▼タブにマウスポインタが載った際の装飾 */
.tab:hover {
font-weight: bold;
cursor: pointer;             /* マウスポインタの形状を「指(指し示す形)」にする */
}

/* ▼選択状態のタブ(＝チェックが入っているラジオボタンの隣にあるタブの装飾) */
input:checked + .tab {
  background-color: #fff;   /* タブの背景色：淡い黄色 */
}


 /* ▼タブの中身(共通装飾＋非選択状態の装飾) */
 .tabcontent {
    display: none;             /* 標準では非表示にする */
    padding: 1em;              /* 内側の余白量 */
 }

/* ▼チェックが入っているラジオボタンに対応するタブの中身を表示する */
#tabcheck1:checked ~ #tabcontent1 { display: block; }
#tabcheck2:checked ~ #tabcontent2 { display: block; }
#tabcheck3:checked ~ #tabcontent3 { display: block; }
#tabcheck4:checked ~ #tabcontent4 { display: block; }

.tabbox input {
display: none;
}