{% extends "tour/home.html" %}
{% load widget_tweaks%}

{% block content %} 
<form>
<h2>サインアップ</h2>

{% csrf_token %}
<h3>
    {% render_field form.username placeholder = "ユーザー名" %}
</h3>

<h3>
    {% render_field form.email placeholder = "メールアドレス" %}
</h3>

<h3>
    {% render_field form.password1 placeholder = "パスワード" %}
</h3>

<h3>
    {% render_field form.password2 placeholder = "パスワード(確認)" %}
</h3>

<h3>
    <button class = "btn btn-primary" type = "submit"> ログアウト</button>
</h3>    

</form>



{% endblock %}