{% extends "tour/base.html" %}

{% block content %}
<!DOCTYPE html>
    <html>
    <head>
        <title>All</title>
        <meta charset="utf-8">
    </head>
 <body>
        <h4 class="mb-4"> カテゴリー = 全部</h4>
        
        {% for post in post_data %}
        <div class="card mb-4">
          {%if post.image %}
            <img src = "{{ post.image.url}}" alt="" class= "card-img-top index-img">
          {% endif %}
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}<span class="small"> - {{ post.category.add }}</span></h2>
            <p class="card-text">{{ post.content|truncatechars:100 }}</p>
            <div class="btn btn-warning"><a class="stretched-link" href="{% url 'post_detail' post.id %}">詳細</a></div>
          </div>
          <div class="card-footer text-muted">
            {{ post.created|date }} by {{ post.author }}
          </div>
              <p><a href="{% url 'like' post.pk %}"><span id="like">{{ post.like }}</span>いいね！</a></p>
    
        {% endfor %}
      </div>
    </body>
{% endblock %}
</html>