{% load static %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link
            rel="stylesheet"
            href="{% static 'css/bootstrap.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <title>Ashiato -足跡-</title>
    </head>

    <header>
        {% block sidebar %}
        <nav 
            class="navbar navbar-expand-lg navbar-light"
            style="background-color: #d7f3e2;">
            <div class="drawer">
                <div id="logo">
                    <a class="navbar-brand" href="/">
                        <img src="static\img\ashiato.png" alt="logo"></a>
                    </div>

                    <div class="Toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>

                <div class="menu">
                    <ul class="navbar-nav">
                        <li>
                            <a class="nav-link" href="{% url 'all' %}">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">my投稿</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'NewUser' %}">利用規約</a>

                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'FAQ' %}">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">お問い合わせ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'create_account' %}">アカウント作成</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'post_new' %}">投稿</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
                            </li>

                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="">サインアップ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">ログイン</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endblock %}
        </header>

        <body>
            <div class="wrap slide-paused" ontouchstart="">
                <ul class="slideshow">
                <li class="content content-hover"><img src="static\img\img1.jpg"></li>
                <li class="content content-hover"><img src="static\img\img2.jpg"></li>
                <li class="content content-hover"><img src="static\img\img3.jpg"></li>
                <li class="content content-hover"><img src="static\img\img4.jpg"></li>
                </ul>
                <ul class="slideshow">
                <li class="content content-hover"><img src="static\img\img1.jpg"></li>
                <li class="content content-hover"><img src="static\img\img2.jpg"></li>
                <li class="content content-hover"><img src="static\img\img3.jpg"></li>
                <li class="content content-hover"><img src="static\img\img4.jpg"></li>
                </ul>
                <ul class="slideshow">
                <li class="content content-hover"><img src="static\img\img1.jpg"></li>
                <li class="content content-hover"><img src="static\img\img2.jpg"></li>
                <li class="content content-hover"><img src="static\img\img3.jpg"></li>
                <li class="content content-hover"><img src="static\img\img4.jpg"></li>
                </ul>
            </div>
            <main>
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </main>
        </body>
    </html>