{% extends "tour/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>問い合わせ</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>

  <body>

    <h1>問い合わせ</h1>
    <p>{{ Message }}</p>

    <!-- フォームを定義 -->
    <form action="{% url 'contact' %}" method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary">送信</button>
    </form>

    
    <a href="{% url 'index' %}">ホームへ</a>
</body>
{% endblock %}
</html>