{% extends "tour/base.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/FAQ.css' %}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  </head>
  <body>
    <h1>FAQ</h1>
    <br>
    <h2></h2>
    
    <div class="tabbox">
      <input type="radio" name="tabset" id="tabcheck1" checked><label for="tabcheck1" class="tab">足跡について</label>
      <input type="radio" name="tabset" id="tabcheck2"        ><label for="tabcheck2" class="tab">投稿</label>
      <input type="radio" name="tabset" id="tabcheck3"        ><label for="tabcheck3" class="tab">アカウント</label>
      <input type="radio" name="tabset" id="tabcheck4"        ><label for="tabcheck4" class="tab">その他</label>
      <div class="tabcontent" id="tabcontent1">このサイトは自分のおすすめ・お気に入りの場所をみんなに自慢・紹介できる観光SNSサイトです。たくさんInformationを投稿してみんなに自慢しちゃおう!!!<br><br></div>
      <div class="tabcontent" id="tabcontent2">
        <dl>
          <div class="faq_wrap">
            <input type="checkbox" id="label201" class="switch" />
              <label for="label201">Q. 利用するには何か特別なものは必要ですか？</label>
                <div class="faq_content">
                  <p>足跡を使うのに必要なものは、インターネット接続またはモバイル端末だけです。アカウントの作成はページ上部にある<b>アカウント作成</b>からできます。登録したら、まずは興味関心のある観光スポットを見つけましょう。</p>
                </div>
            <input type="checkbox" id="label202" class="switch" />
              <label for="label202">Q. 投稿する方法は？</label>
                <div class="faq_content">
                  <p>投稿はページ上部にある<b>投稿</b>からできます。</p>
                    <ol>
                      <li>観光スポットの名称を入力します。</li>
                      <li>観光スポットの住所を入力します。</li>
                      <li>表示されているカテゴリーの中から、観光スポットに当てはまるカテゴリーを選択します。</li>
                      <li>観光スポットが写っている画像ファイルを選択します。</li>
                      <li>観光スポットに関連するサイトのURLを入力します。</li>
                      <li>観光スポットの本文を入力します。</li>
                      <li><b>投稿する</b>をクリックして、my投稿に投稿します。</li>
                    </ol>
                </div>
            <input type="checkbox" id="label203" class="switch" />
              <label for="label203">Q. 投稿は誰に読まれますか？</label>
                  <div class="faq_content">
                    <p>投稿は足跡の全利用者が閲覧できます。</p>
                  </div>
            <input type="checkbox" id="label204" class="switch" />
              <label for="label204">Q. いったん投稿した内容を編集する方法は？</label>
                <div class="faq_content">
                  <p>投稿の編集は詳細ページ内にある<b>編集する</b>からできます。</p>
                </div>
            <input type="checkbox" id="label205" class="switch" />
              <label for="label205">Q. コメントを編集、削除できますか？</label>
                  <div class="faq_content">
                    <p>一度コメントした内容は編集、削除できません。</p>
                  </div>
            <input type="checkbox" id="label206" class="switch" />
              <label for="label206">Q. いいね！を取り消せますか？</label>
                  <div class="faq_content">
                    <p>一度したいいね！は取り消せません。ただし、いいね！をしたアカウントが特定されることはありません。</p>
                  </div>
          </div>
        </dl>
      </div>
      <div class="tabcontent" id="tabcontent3">
        <dl>
          <div class="faq_wrap">
            <input type="checkbox" id="label301" class="switch" />
              <label for="label301">Q. アカウントは必要ですか？</label>
                <div class="faq_content">
                  <p>アカウントを持っていなくても、投稿は閲覧できます。ただし、観光スポットを投稿する場合には、アカウントを作成してログインする必要があります。</p>
                </div>
            <input type="checkbox" id="label302" class="switch" />
              <label for="label302">Q. アカウントを作成するためにはどうすればよいですか？</label>
                <div class="faq_content">
                  <p>ユーザーID、パスワード、パスワード（確認）を入力して<b>登録</b>をクリックします。</p>
                </div>
            <input type="checkbox" id="label303" class="switch" />
              <label for="label303">Q. アカウント情報（ユーザーID、パスワード）を更新できますか？</label>
                <div class="faq_content">
                  <p>作成したアカウント情報（ユーザーID、パスワード）を変更することはできません。</p>
                </div>
            <input type="checkbox" id="label304" class="switch" />
              <label for="label304">Q. すでに同じユーザーIDで登録したアカウントが存在するため、登録できません。</label>
                <div class="faq_content">
                  <p>ユーザーIDは一度に１つのアカウントにしか使用できません。他のユーザーIDでご登録ください。</p>
                </div>
            <input type="checkbox" id="label305" class="switch" />
              <label for="label305">Q. ユーザーIDまたはパスワードがわかりません。</label>
                  <div class="faq_content">
                    <p><a href="{% url 'contact' %}">こちら</a>からその旨をお伝えください。</p>
                  </div>
            <input type="checkbox" id="label306" class="switch" />
              <label for="label306">Q. アカウントが不正アクセスされたと思われる場合は、どうすればよいですか？</label>
                <div class="faq_content">
                  <p><a href="{% url 'contact' %}">こちら</a>からその旨をお伝えください。</p>
                </div>
            <input type="checkbox" id="label307" class="switch" />
              <label for="label307">Q. 自分のアカウントを削除できますか。</label>
                <div class="faq_content">
                  <p><a href="{% url 'contact' %}">こちら</a>からその旨をお伝えください。</p>
                </div>
          </div>
        </dl>
      </div>
      <div class="tabcontent" id="tabcontent4">
        <dl>
          <div class="faq_wrap">
            <input type="checkbox" id="label401" class="switch" />
              <label for="label401">Q. 利用規約に違反する投稿、コメントがあります。</label>
                <div class="faq_content">
                  <p><a href="{% url 'contact' %}">こちら</a>からその旨をお伝えください。</p>
                </div>
          </div>
        </dl>
      </div>
    </div>

    <p>ご不明な点がございましたら、<a href="{% url 'contact' %}">こちら</a>からお問合せください。</p>
    <a href="{% url 'index' %}">戻る</a>
  </body>
{% endblock %}
</html>