{% extends "tour/base.html" %}

<!DOCTYPE html>

{% block content %}
    <html>
    <head>
        <title>Category</title>
        <meta charset="utf-8">
    </head>

    <body>
        <div class="col-md-8">
            {% if keyword %}
              <h4 class="mb-4">「{{ keyword }}の検索結果」</h4>
            {% endif %}  

            {%if category %}
              <h4 class="mb-4"> カテゴリー = 「{{ category.name }}」</h4>
            {% endif %}
      
            {% for post in post_data %}
        
            <div class="card mb-4">
              {%if post.image %}
                <img src = "{{ post.image.url}}" alt="" class= "card-img-top index-img">
              {% endif %}  
              <div class="card-body">
                <h2 class="card-title">{{ post.title }}<span class="small"> - {{ post.category}}</span></h2>
                <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                <div class="btn btn-warning">詳細</div>
              </div>
              <div class="card-footer text-muted">
                {{ post.created|date }} by {{ post.author }}
              </div>
              <a class="stretched-link" href="{% url 'post_detail' post.id %}"></a>
            </div>
            {% endfor %}
          </div>
    
    </body>
{% endblock %}
</html>
