{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <title>足跡 -Ashiato-</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tour/home.css' %}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid">
                <div id="logo">
                    <a class="navbar-brand" href="/">
                        <img src="static\img\ashiato.png" alt="logo"></a>
                    </div>
        <div class="collapse navbar-collapse justify-content-start">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">一覧</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'NewUser' %}">初めての方</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'mypage' %}">マイページ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'FAQ' %}">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contact' %}">お問い合わせ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'miru' %}">もっとみる</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
  </body>
</html>