{% extends "tour/base.html" %}
{% block content %}

<script type = "text/javascript" src="{% static 'js/index.js'}"></script>
<div class="row my-4">
  <div class="col-md-8">
    {% if keyword %}
      <h4 class="mb-4">「{{ keyword }}の検索結果」</h4>
    {% endif %}  

    {% for post in post_data %}
    <div class="card mb-4">
      {%if post.image %}
        <img src = "{{ post.image.url}}" alt="" class= "card-img-top index-img">
      {% endif %}  
      <div class="card-body">
        <h2 class="card-title">{{ post.title }}<span class="small"> - {{ post.category}}</span></h2>
        <p class="card-text">{{ post.content|truncatechars:100 }}</p>
        <div class="btn btn-warning">詳細</div>
      </div>
      <div class="card-footer text-muted">
        {{ post.created|date }} by {{ post.author }}
      </div>
      <a class="stretched-link" href="{% url 'post_detail' post.id %}"></a>     
    </div>
    <p><a href="{% url 'like' post.pk %}"><span id="like">{{ post.like }}</span>いいね！</a></p>
        <br>
    {% endfor %}
  </div>

  <div class="col-md-4">
    <div class="card">
      <h5 class="card-header">About this app</h5>
      <div class="card-body">
        <p>Outline</p>
        <p class="mb-0">
          このサイトは自分のおすすめ・お気に入りの場所をみんなに自慢・紹介できる観光SNSサイトです。
          たくさんInformationを投稿してみんなに自慢しちゃおう!!!
        </p>
      </div>
    </div>

    <div class="card my-4">
      <h5 class="card-header">カテゴリ</h5>
      <div class="card-body">
        <div class="row">
          {% for category in category_data %} 
            <div class="col-md-6">
              <ul class="list-unstyled">
                <li>
                  <a href="{% url 'category' category %}">
                    {{ category.name }}
                  </a>
                </li>
              </ul> 
            </div> 

          {% endfor %} 
        </div>
      </div> 
    </div>     

    <div class="card my-4">
      <h5 class="card-header">検索</h5>
      <div class="card-body">
        <form method="get" action="{% url 'search' %}" class="input-group">
          <input type="text" class="form-control" name="keyword" placeholder="ブログを検索...">
          <button class="btn btn-warning ml-2" type="submit">検索</button>
        </form>
      </div> 
    </div>     



  </div>
</div>

{% endblock %}