{% extends "tour/base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>mypage</title>
  </head>
  <body>
    <h1>マイページ</h1>
    
    {% if user.is_authenticated %}
    <p id = "login_name">{{ user.username }}!</p>
    <p id = "logout_btn"><a href="{% url 'logout' %}">ログアウト</a></p>
    {% else %}
    <p id = "not_login">ログインできていません</p>
    <p id = "login_btn"><a href="{% url 'login' %}">ログイン</a></p>
    {% endif %}

    <br>
    <a href="{% url 'index' %}">戻る</a>

</body>
{% endblock %}
</html>