{% extends "tour/base.html" %} {% block content %}
<h2 class="my-4">{{ post_data.title }}</h2>
<hr />
<p>{{ post_data.created }} by {{ post_data.author }}</p>
{% for category in post_data.category.all %}
<p>Category: {{ category.name }}</p>
{% endfor %}
<hr />
{% if post_data.image %}
<img class="rounded detail-img" src="{{ post_data.image.url }}" alt="" />
{% endif %}
<hr />
<p>住所 : {{ post_data.address }}</p>
<p>URL :<a href="{{ post_data.url }}">{{ post_data.url }}</a></p>
<p class="my-4"></p>
<p>{{ post_data.content|linebreaksbr }}</p>
{% if user.is_authenticated %}
<hr />
<div class="d-flex mb-5">
  <a href="{% url 'post_edit' post_data.id %}" class="btn btn-warning mr-2">編集する</a>
  <a href="{% url 'post_delete' post_data.id %}" class="btn btn-danger">削除する</a>
</div>
{% endif %}

<h2>みんなのコメント</h2>

{% if comments %} {% for comments in comments %}
<div>
  <div>
    <small>[{{ comments.create }}]</small>
    <small>{{ username }}</small>
  </div>
  <div>{{ comments.text | linebreaksbr }}</div>
</div>
{% endfor %} {% else %}
<p>現在コメントがございません</p>
{% endif %}
<br />
<form action="{% url 'post_detail' post_data.id %}" method="post">
  {% csrf_token %}
  <div>
    <label for="textInput"></label>
    <textarea
      id="textInput"
      name="text"
      rows="1"
      cols="40"
      placeholder="ここからコメントしてください"
    ></textarea>
  </div>
  <div>
    <button type="submit">コメントする</button>
  </div>
</form>

{% endblock %}
