{% extends "tour/base.html" %}

{% block content %}
<h2 class="my-4">{{ post_data.title }}</h2>
<hr>
<h2>削除しますか?</h2>
<form method="post">
    {% csrf_token %}
    <button class="btn btn-danger" type="submit">削除</button>
</form>
{% endblock %}