{% extends "tour/base.html" %}
{% load widget_tweaks %}
{% block content %}

<div class="my-4">
    <h2>投稿</h2>
</div>

<!--enctype="multipart/form-data" => 画像をあげる時に必要-->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="formpost">
    {% render_field form.title class="form-control" placeholder="タイトルを入力" %}
  </div>

  <div class="formpost">
    {% render_field form.address class="form-control" placeholder="住所を入力" %}
  </div>

  <div class="formpost">
    {% render_field form.category %}
  </div>

  <div class="formpost">{{ form.image }}</div>

  <div class="formpost">
    {% render_field form.url class="form-control" placeholder="SNS・Official URLなし"%}
  </div> 
  
  <div class="formpost">
    {% render_field form.content class="form-control" placeholder="本文を入力"%}
  </div> 
  <button class="btn btn-warning" type="submit">投稿する</button>
</form>
{% endblock %}